.pin {
  background-color: #aaa;
  background-image: linear-gradient(to left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  display: block;
  height: 1em;
  left: 50%;
  margin: -1em -.05em;
  position: absolute;
  top: 3%;
  width: .1em;
}
.pin:after {
  background-color: skyBlue;
  background-image: radial-gradient(circle at 25% 25%, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset .2em .2em .2em hsla(0,0%,100%,.2),
              inset -.2em -.2em .2em hsla(0,0%,0%,.2),
              1.5em 1.25em .25em hsla(0,0%,0%,.15);
  content: '';
  height: .8em;
  left: -.35em;
  position: absolute;
  top: -.65em;
  width: .8em;
}

.pin:before {
  background-color: hsla(0,0%,0%,.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  width: .1em;
}

.card-container {
  margin: 20px 0 0 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.segment {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; /* Center it */
}

.hover {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.hover:hover {
  top: -5px;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;

}

.small.card.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

.details {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(255, 255, 255); /* Fallback color */
  background: rgba(255, 255, 255, 0.65); /* Black background with 0.5 opacity */
  color: #1a1a1a;
  width: 100%;
  padding: 10px;
  max-height: 40%;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  text-shadow: black;
  width: 100%;
  margin-bottom: 3px;
}

.big > .details > .title, #feature > .regular > .details > .title {
  font-size: 1.5em;
}

.post-date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  color: rgb(80, 80, 80);
  background-color: seashell;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-right-radius: 10px;

}


/* Tag Styles */

.tag-container {
  width: 100%;
  overflow: auto;
}

.tag {
  background: #A3D5FF;
  font-size: 80%;
  color: black;
  margin-right: 4px;
  padding: 3px;
  line-height: 26px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tag:hover {
  background: rgb(76, 112, 141);
  color: white;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.card-avatar {
  /* display: inline-flex;
  justify-content: right; */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.card-username {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.card-date {
  font-size: 14px;
  color: grey;
}

.likes-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likes-container > p {
  color: grey;
  margin: 5px;
  font-size: 14px;
}

.material-icons.favorite {
  bottom: 5px;
  right: 5px;
  /* position: absolute; */
  color: red;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 2px;
}

.material-icons.not-favorite {
  bottom: 5px;
  right: 5px;
  /* position: absolute; */
  color: grey;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 2px;
}

.material-icons.not-favorite:hover {
  color: red;
}

hr {
  border: .5px solid rgba(196, 194, 194, 0.742);
}

/* Sets breakpoint for responsiveness when the window is resized to 500px */
@media (max-width: 500px) { 
  .horizontal, .vertical, .big, .regular {
    width: 100%;
    grid-column: span 2;
    grid-row: span 1;
  }

  .big > .details > .title {
    font-size: 1em;
  }
}

/* ----------------------------------- */

#post-details {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.details-container {
  width: 75%;
}

/* .post {
  background: rgb(255, 255, 255, 0.2);
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 3px;
  width: 75%;
  padding: 2%;
} */

/* .post:hover {
  box-shadow: 0px 1px 3px 0 lightslategray;
} */

.align-content {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

.post-header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 5px;
  align-items: center;
  padding: 10px;
}

.post-details-title {
  grid-column: span 4;
}

.post-avatar {
  grid-column: 1/2;
  /* grid-row: span 2; */
}

.post-subheader {
  grid-column-start: 2;
}

.post-details-author {
  font-weight: bolder;
}

.post-details-date {
  font-weight: lighter;
}

.extra {
  grid-column-start: 4;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.extra > span {
  margin-left: 5px;
}

.card-image {
  width: 100%;
} 

.post-content {
  padding: 10px;
}

.extra-content {
  padding: 10px;
}

.comment-container {
  width: 50%;
}

.comment {
  margin-bottom: 10px;
}