/* .flatpin {
  content: '';
  background-image: radial-gradient(circle, green 50%, black 100%);
  border-radius: 50%;
  top: -1%;
  left: 50%;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
} */

.pin {
  background-color: #aaa;
  background-image: linear-gradient(to left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  display: block;
  height: 1em;
  left: 50%;
  margin: -1em -.05em;
  position: absolute;
  top: 3%;
  width: .1em;
}
.pin:after {
  background-color: skyBlue;
  background-image: radial-gradient(circle at 25% 25%, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset .2em .2em .2em hsla(0,0%,100%,.2),
              inset -.2em -.2em .2em hsla(0,0%,0%,.2),
              1.5em 1.25em .25em hsla(0,0%,0%,.15);
  content: '';
  height: .8em;
  left: -.35em;
  position: absolute;
  top: -.65em;
  width: .8em;
}
.pin:before {
  background-color: hsla(0,0%,0%,.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  width: .1em;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  height: 300px;
  width: 200px;
  overflow: auto;
  border-style: outset;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container > div {
  height: 300px;
  width: 200px;
  margin: 10px;
  overflow: auto;
  border-style: outset;
}

/* Sets breakpoint for responsiveness when the window is resized to 500px */
@media (max-width: 500px) { 
  .card {
    flex: 100%;
    max-width: 100%;
    overflow: auto;
    border-style: outset;
  }
}
