/* .flatpin {
  content: '';
  background-image: radial-gradient(circle, green 50%, black 100%);
  border-radius: 50%;
  top: -1%;
  left: 50%;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
} */

.pin {
  background-color: #aaa;
  background-image: linear-gradient(to left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  display: block;
  height: 1em;
  left: 50%;
  margin: -1em -.05em;
  position: absolute;
  top: 3%;
  width: .1em;
}
.pin:after {
  background-color: skyBlue;
  background-image: radial-gradient(circle at 25% 25%, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset .2em .2em .2em hsla(0,0%,100%,.2),
              inset -.2em -.2em .2em hsla(0,0%,0%,.2),
              1.5em 1.25em .25em hsla(0,0%,0%,.15);
  content: '';
  height: .8em;
  left: -.35em;
  position: absolute;
  top: -.65em;
  width: .8em;
}
.pin:before {
  background-color: hsla(0,0%,0%,.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  width: .1em;
}


/* .grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  height: 300px;
  width: 200px;
  overflow: auto;
  border-style: outset;
} */

.card-link {
  text-decoration: none;
}

.card div a:hover {
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container > div {
  height: 320px;
  width: 250px;
  margin: 10px;
  /* overflow: auto; */
  /* border-style: outset; */
}

.img-container {
  /* position: relative; */
  width: 100%;
  height: 150px;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.card-avatar {
  /* display: inline-flex;
  justify-content: right; */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.card-username {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.card-date {
  font-size: 14px;
  color: grey;
}

.card-image {
  width: 100%;
  height: 100%;
}

.likes-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likes-container > p {
  color: grey;
  margin: 5px;
  font-size: 14px;
}

.material-icons.favorite {
  bottom: 5px;
  right: 5px;
  /* position: absolute; */
  color: red;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 2px;
}

.material-icons.not-favorite {
  bottom: 5px;
  right: 5px;
  /* position: absolute; */
  color: grey;
  cursor: pointer;
  font-size: 18px;
  margin: 0px 2px;
}

.material-icons.not-favorite:hover {
  color: red;
}

.card {
  /* border: 1px solid rgb(173, 175, 188); */
  background: rgb(255, 255, 255, 0.2);
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 3px;
  /* transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease; */
}

.card:hover {
  box-shadow: 0px 1px 3px 0 lightslategray;
}

.card-title {
  margin: 5px;
  font-weight: normal;
}

.card > div > p {
  margin: 5px 0px;
}

.card-content {
  min-height: 50px;
}

hr {
  border: .5px solid rgba(196, 194, 194, 0.742);
}

/* Sets breakpoint for responsiveness when the window is resized to 500px */
@media (max-width: 500px) { 
  .card {
    flex: 100%;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    /* border-style: solid;
    border-width: 1px; */
  }
}

/* Tag Styles */

.tag-container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 50px;
  overflow: auto;
  margin: 0px 3px;
}

.tag {
  background: lightgray;
  font-size: 90%;
  color: black;
  margin: 5px 2px;
  padding: 7px;
  height: 26px;
  line-height: 26px;
  border-radius: 17px;
}

.tag:hover {
  background: grey;
  color: white;
}
