#outter-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-container {
  width: 97%;
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  #nav-container li, li#search {
    float: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* li a:hover {
    background-color: rgba(57, 141, 232, 0.824);
  } */
}

#nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(88, 158, 234, 0.824);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li#search {
  /* float: right; */
  padding: 11px 5px;
  color: white;
  text-align: center;
}

.search-bar {
  width: 100px;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 5px;
  /* text-align: center; */
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-bar:focus {
  width: 200px;
}

#nav-container li a {
  /* float: left; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-container li a:hover {
  background-color: rgba(57, 141, 232, 0.824);
  text-decoration: none;
}

#menu {
  /* float: left; */
  padding: 14px 16px;
  color: white;
  text-align: center;
  cursor: pointer;
}

#nav-container ul.menu-item {
  display: none;
}

.menu-item li a {
  float: none;
  width: 100%;
}

.clicked-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1;
  -webkit-transition: display 0.4s ease-in-out;
  transition: display 0.4s ease-in-out;
}