#profile-container {
    width: 100%;
}

.profile-header {
    display: grid;
    grid-template-columns: auto auto auto auto;  
}


.profile-img-container {
    /* width: 45%;
    height: 100%; */
    padding-left: 10px;
}

.profile-img {
    /* width: 100%; */
    border-radius: 50%;
    max-width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.profile-contents {
    grid-column-start: 2;
    grid-column-end: 5;
    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: .5px;
    padding-left: 5px;
}

.profile-contents h2 {
    font-weight: normal;
    font-size: 4em;
    color: darkgray;
}

input {
    width: 300px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
}

textarea {
    width: 300px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1em;
    margin: 10px;
}

#profile-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

#profile-form {
    display: flex;
    align-content: center;
    justify-content: center;
}

.profile-col {
    width: 100%;
}

.input-label {
    width: 30%;
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25em;
}

.input {
    width: 70%;
    font-size: 16px;
    display: inline-block;
}

.btn {
    background-color: slategray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: grey
}


