/* ------- Page Background Styles ------- */

.homepage {
  /* background: lightgray; */
  background-image: url('backgroundMountains.png');
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.login {
  background-image: url('backgroundMountains.png');
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
}

#main {
  width: 100%;
}

/* -------- Header Styles -------- */

.header {
  display: grid;
  grid-template: '. icon header menu . . . . . profile .';
  align-items: end;
  background: white;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-logo {
  height: 7vmin;
}

.header-title {
  margin: -0.35em
}

#search {
  background: rgba(76, 175, 80, 0);
  border: 0;
}

.search-border {
  border-bottom: grey solid 1px;
}

/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

.item1 {
  grid-area: icon;
}

.item2 {
  grid-area: header;
}

.item3 {
  grid-area: menu;
}

.item4 {
  grid-area: profile;
}

.header ul {
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

/* ------------- Content styles -------------- */
#content {
  display: flex;
  justify-content: center;
  width: 100%;
}

#sidebar {
  width: 20%;
}

#nav-menu {
  width: 20%;
}

.main-container {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}


/* ------------- PostCard styles ------------- */

.post-card {
  margin-bottom: 1em;
}

.post-card-img {
  object-fit: cover;
  max-height: 300px;
}

.post-card-author {
  padding-left: 16px;
}

/* Tag CSS Styles */
/* ---------- React Tags Styling ---------- */
.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* ---------- Center Loading Component ---------- */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
}

/* ------- React App Styles ------- */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------- Other Styles --------- */

#filter-container {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

#filter {
  width: 50%;
}

input:focus {
  border-color: #B1B1B1;
  outline: none;
}

textarea:focus {
  border-color: #B1B1B1;
  outline: none;
}

.btn:focus{
  outline: none;
}